parameters:
    level: 1
    paths:
        - image-usage-audit.php
        - includes
        - views
        - uninstall.php
    excludePaths:
        - vendor (?)
        - node_modules (?)
        - tests
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
